*{
  margin: 0;
  padding:0 ;
  box-sizing: border-box;
  font-family: 'Times New Roman', Times, serif;
  text-align: center;
}

#navconent{
  min-height: 20vh;
  background-color: #2dffd6;


}
#bodycontent{
  min-height: 60vh;
  background-color: #d2ebe4;
}

#footercontent{
  min-height: 20vh;
  background-color: #00604e;
}
